#pdd{
    padding-right: 0.2cm;
    padding-bottom: 0.1cm;
};

#tekskecil{
    font-size: 10%;
}

#imgdashboard{
    background-image: url('../../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#imgdatasiswa{
    background-image: url('https://img.freepik.com/free-vector/back-school-kids-students-with-backpacks-textbooks-stand-row-boy-girls-pupils-reading-books-education-learning-studying-concept-with-children-group-line-art-vector-illustration_107791-11175.jpg?w=1380&t=st=1704455539~exp=1704456139~hmac=24dadadb678026e093a6b8bc2b3c99087ec9cc29f30f4e5ff4c14f1a2f1ad325');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 23%;
}

#background-sekolah{
    background-image: url('../../assets/img/DSC2511.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#background-container{
    background-image: url('../../sunset-mountain-retrowave-scenery-digital-art-4k-wallpaper-uhdpaper.com-187@1@n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#background-container::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.41); /* Warna hitam dengan opasitas 0.5 */
}

#warna1{
    color: red;
}

.tombol{
    width: 100%;
}

.paddingrow{
    padding-left: 4%;
}

#efekblur{
    color: rgb(255, 255, 255);
    background-color: #ffffff25;
    backdrop-filter: blur(10px);
}

.teksjudul{
    color: white;
    font-size: x-large;
    font-weight: bold;
}

